@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Abel";
  src: url("/fonts/Abel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Audiowide";
  src: url("/fonts/Audiowide-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}

.grid-container {
  columns: 1 100px;
  column-gap: 0rem;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .grid-container {
    columns: 2 100px;
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    columns: 2 100px;
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    columns: 3 100px;
  }
}

/* Extra large screens: 4 columns */
@media screen and (min-width: 13000px) {
  .grid-container {
    columns: 4 100px;
  }
}

/* Extra extra large screens: 5 columns */
@media screen and (min-width: 1536px) {
  .grid-container {
    columns: 5 100px;
  }
}

.grid-container div {
  width: 100%;
  margin: 1px;
  display: inline-block;
  padding: 2px;
  transition: all 2s ease-in-out;
}

.grid-item {
  transition: all 2s ease-in-out;
}

.main {
  position: relative;
  padding: 200px 0;
  background-color: transparent;
  color: black;
  z-index: 10;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(219, 218, 218);
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
  transform-origin: top left;
  z-index: -1;
}

.bg-black {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fadeIn {
  opacity: 1 !important;
}

.fadeOut,
.bg-black {
  opacity: 0;
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeInLinks {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInLinks {
  animation: fadeInLinks 1s ease-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fadeOutLinks {
  animation: fadeOutLinks 1s ease-out forwards;
}

@keyframes fadeOutLinks {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20%);
  }
}

.modal-overlay {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.modal-overlay-open {
  opacity: 1;
}

.menu-item-enter {
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.menu-item-enter-active {
  opacity: 1;
  transform: translateY(0);
}


.hamburger {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 22px;
}

.hamburger .line {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transition: 2s ease-in-out;
}

.hamburger .line1 {
  top: 0px;
}

.hamburger .line2 {
  top: 20px;
}

.hamburger.open .line1 {
  top: 10px;
  transform: rotate(135deg);
}

.hamburger.open .line2 {
  top: 10px;
  transform: rotate(-135deg);
}
