@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}

.grid-container {
  columns: 3 100px;
  column-gap: 0rem;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.grid-container div {
  width: 150px;
  margin: 0 0 0 0;
  display: inline-block;
  width: 100%;
  border: solid 2px black;
  padding: 2px;
  transition: all 0.25s ease-in-out;
}

