@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Abel';
  src: url('/fonts/Abel-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Audiowide';
  src: url('/fonts/Audiowide-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}

.grid-container {
  columns: 1 100px;
  column-gap: 0rem;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .grid-container {
    columns: 2 100px;
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    columns: 2 100px;
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    columns: 3 100px;
  }
}

/* Extra large screens: 4 columns */
@media screen and (min-width: 13000px) {
  .grid-container {
    columns: 4 100px;
  }
}

/* Extra extra large screens: 5 columns */
@media screen and (min-width: 1536px) {
  .grid-container {
    columns: 5 100px;
  }
}

.grid-container div {
  width: 100%;
  margin: 1px;
  display: inline-block;
  padding: 2px;
  transition: all 2s ease-in-out;
}

.grid-item {
  transition: all 2s ease-in-out;
}

.main {
  position: relative;
  padding: 200px 0;
  background-color: transparent;
  color: black;
  z-index: 10;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(219, 218, 218);
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
  transform-origin: top left;
  z-index: -1;
}

.bg-black {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fadeIn {
  opacity: 1 !important;
}

.fadeOut, .bg-black {
  opacity: 0;
}
